// node-sass [옵션] <입력파일경로> [출력파일경로]    !컴파일방법

$contentsWidth: 1000px;
$signatureColor: #4285f4;
$searchZoneHeight: 70px;
$defaultPadding: 10px;

rowDisplayAlignCenter {
  display: flex;
  align-items: center;
}

rowDisplayJustifyCenter {
  display: flex;
  justify-content: center;
}

columnDisplay {
  display: flex;
  flex-direction: column;
}

centerAlignment {
  display: flex;
  justify-content: center;
  align-items: center;
}

defaultBtnStyle {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@mixin getWH($width, $height) {
  width: $width;
  height: $height;
}

@mixin backgroundSet($url, $size) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: $size;
  background-position: center;
  background-origin: content-box;
}

////////////////////////////////////////////////////////
.header {
  @extend columnDisplay;
  align-items: center;
}

//클래스를 통해 스타일을 주는것과 태그에 스타일을 주는것중 무엇이 좋을지? 고민하다 이부분은 태그명으로 짜두었습니다.
.header__top {
  //flex 가로 정렬
  @extend rowDisplayJustifyCenter;
  width: 100%;
  background-color: #f0f0f0;

  ul {
    display: flex;
    justify-content: space-between;
    width: $contentsWidth;
  }

  li {
    display: flex;
    div {
      padding: $defaultPadding;
    }
  }
}

.header__main {
  @extend rowDisplayJustifyCenter;
  width: $contentsWidth;

  .header__main--category {
    @extend centerAlignment;
    @include getWH(110px, 115px);
    background-color: $signatureColor;
  }

  .header__main--card {
    @extend columnDisplay;
  }
}

.header__main--contents {
  .header__main--shoppingNav {
    display: flex;

    li {
      padding-left: 25px;
    }
  }

  .header__main--searchZone {
    @extend rowDisplayAlignCenter;
  }

  .header__main--searchZone {
    .header__main--logo {
      @include getWH(225px, $searchZoneHeight);
      @include backgroundSet(
        "https://image7.coupangcdn.com/image/coupang/common/logo_coupang_w350.png",
        100%
      );

      padding: $defaultPadding;
    }

    .header__main__searchInterFace {
      display: flex;
      border: 1.5px solid $signatureColor;
    }

    .header__main--myShopping {
      @include getWH(50px, $searchZoneHeight);
      background-color: #f0f0f0;
    }
  }
}

.header__main__searchInterFace {
  .header__main--inputMenu {
    @include getWH(130px, 42px);
    @extend rowDisplayAlignCenter;
    padding-left: 10px;
    font-size: 13px;
    position: relative;
    border-right: 1.5px solid $signatureColor;
  }

  .header__main--inputWrapper {
    .header__main--searchInput {
      @include getWH(400px, 40px);
      border: none;
      position: relative;
    }
  }
}

.search--toggle--ul {
  width: 400px;
  height: 300px;
  position: absolute;
  background-color: white;
  z-index: 1;
  .search--toggle--li {
    // @extend centerAlignment;
    font-size: 10px;
    height: 15px;
    padding: 5px;
    border-bottom: 0.5px solid #f0f0f0;
  }

  .header__main--deleteHistoryBtn {
    @extend defaultBtnStyle;
    display: flex;
    padding: 5px;
    position: absolute;
    width: inherit;
    height: 30px;
    font-size: 13px;
    left: 0;
    bottom: 0;
  }
}

.header__main--inputMenuButton {
  .search--menu--ul {
    width: 140px;

    // height: 0px;
    position: absolute;
    background-color: white;
    overflow: hidden;
    z-index: 1;
    // transition: 1s;
    .search--menu--li {
      font-size: 10px;
      height: 10px;
      padding: 10px;
      border-bottom: 0.5px solid #f0f0f0;
    }
    // .search--menu--ul[data-dropdown="checked"] { // 애니메이션 시도용
    //   height: auto;
    // }
  }
}
