rowDisplayAlignCenter, .header__main--contents .header__main--searchZone, .header__main__searchInterFace .header__main--inputMenu {
  display: flex;
  align-items: center; }

rowDisplayJustifyCenter, .header__top, .header__main {
  display: flex;
  justify-content: center; }

columnDisplay, .header, .header__main .header__main--card {
  display: flex;
  flex-direction: column; }

centerAlignment, .header__main .header__main--category, .search--toggle--ul .search--toggle--li {
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  align-items: center; }

.header__top {
  width: 100%;
  background-color: #f0f0f0; }
  .header__top ul {
    display: flex;
    justify-content: space-between;
    width: 1000px; }
  .header__top li {
    display: flex; }
    .header__top li div {
      padding: 10px; }

.header__main {
  width: 1000px; }
  .header__main .header__main--category {
    width: 110px;
    height: 115px;
    background-color: #4285f4; }

.header__main--contents .header__main--shoppingNav {
  display: flex; }
  .header__main--contents .header__main--shoppingNav li {
    padding-left: 25px; }

.header__main--contents .header__main--searchZone .header__main--logo {
  width: 225px;
  height: 70px;
  background-image: url("https://image7.coupangcdn.com/image/coupang/common/logo_coupang_w350.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-origin: content-box;
  padding: 10px; }

.header__main--contents .header__main--searchZone .header__main__searchInterFace {
  display: flex;
  border: 1.5px solid #4285f4; }

.header__main--contents .header__main--searchZone .header__main--myShopping {
  width: 50px;
  height: 70px;
  background-color: #f0f0f0; }

.header__main__searchInterFace .header__main--inputMenu {
  width: 130px;
  height: 42px;
  padding-left: 10px;
  font-size: 13px;
  position: relative;
  border-right: 1.5px solid #4285f4; }

.header__main__searchInterFace .header__main--inputWrapper .header__main--searchInput {
  width: 400px;
  height: 40px;
  border: none;
  position: relative; }

.search--toggle--ul {
  width: 400px;
  position: absolute;
  background-color: white;
  z-index: 1; }
  .search--toggle--ul .search--toggle--li {
    height: 15px;
    padding: 5px;
    border-bottom: 0.5px solid #f0f0f0; }

.header__main--inputMenuButton .search--menu--ul {
  width: 140px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  z-index: 1; }
  .header__main--inputMenuButton .search--menu--ul .search--menu--li {
    font-size: 10px;
    height: 10px;
    padding: 10px;
    border-bottom: 0.5px solid #f0f0f0; }
